[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
plotly = "*"
matplotlib = "*"
pytest = "*"
pandas = "*"
black = "*"
scikit-image = "*"
jupyter = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "*"
